@media screen and (max-width:560px) {
    body{
        border:1px solid red;
        width: 100%;
    }
    .cabecalho .logo{
        height: 75px;
        display: block;
        margin: 0 auto;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .principal .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .sobre{

        width: 100%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
    }

    .sobre-div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .descricao-atividades-colunas{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10%;
    }

    .coluna1{
        width: 100%;
        text-align: justify;
        padding-bottom: 8%;
    }
    

    .areas-atuacao{
        border: 1px solid pink;
        width: 100%;
    }

    .areas-atuacao-div{
        border: 1px solid red;
        padding-top: 2%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .areas-atuacao-itens{
        margin-top: 5%;
        width: 33%;
        color: var(--cor);
    }

    .areas-atuacao-responsivo{
        width: 100%;
        border: 1px solid green;
        display: flex;
        justify-content: center;
    }

    .whatsapp {
    position: fixed;
    top: 78%;
    left: 80%;
    padding: 1%;
    z-index: 10000000;
    height: 48px;
    border-radius: 100%;
}

.rodape-texto{
    display: flex;
    justify-content: center;
    color: white;
    padding: 1%;
    font-size: 0.8rem;
}
    
}