@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');

:root{
    --cor:#16081E;
}

.caixa-alta{
    text-transform: uppercase;
}

.fonte-descricao{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.fonte-titulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

body{
    font-family: 'Roboto', sans-serif;
}

.cabecalho{
    background-color: #16081E;
}

.fonte-descricao{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.fonte-titulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.cabecalho .logo{
    height: 75px;
    display: block;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media screen and (min-width:1000px){
    .cabecalho .logo{
        height: 150px;
    }
}





.sobre{
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.sobre-titulo {
    margin-bottom: 5%;
}

.sobre-imagem{
    height: 200px;
    border-radius: 100%;
}

@media screen and (min-width:1000px){
    .sobre{
        margin: 0 auto;
        width: 60%;
    }
}

.sobre-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sobre .sobre-texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    height: 100%;
}

.sobre-descricao{
    text-align: justify;
}

@media screen and (min-width:1000px){
.sobre-div{
    flex-direction: row;
}
}
/* Início Descrição atividades */


.descricao-atividades{
    margin-top: 10%;
    background-color: var(--cor);
    text-align: center;
}


.descricao-atividades-colunas{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
}


.titulo-descricao-atividades{
    margin-top: 4%;
}

.coluna{
    width: 100%;
    margin-bottom: 8%;
}

.coluna1{
    width: 100%;
    text-align: justify;
}

.lista{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
}

li{
    text-align: left;
    font-size: 1rem;
}

.coluna1-titulo{
    text-align: center;
    padding-bottom: 3%;
}

.coluna1-texto{
    padding-top: 10%;
    text-align: center;
}

.descricao-atividades-texto{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
    color: white;
}



@media screen and (min-width:1000px){
    .coluna1{
        width: 100%;
        padding-bottom: 8%;
    }
}

@media screen and (min-width:1000px){
    .descricao-atividades-colunas{
        align-items: top;
    }
}


/* FIM Descrição atividades */

/* Início Areas Atuação */
.areas-atuacao{
    width: 100%;
    margin-top: 10%;
}

.areas-atuacao-titulo{
    text-align: center;
    color: var(--cor);
}

.areas-atuacao-div{
    padding-top: 2%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.areas-atuacao-itens{
    margin-top: 5%;
    width: 33%;
    color: var(--cor);
}



.circulo {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--cor);
}
.texto{
    font-size: 1.5rem;
    text-align: center;
}

.areas-atuacao-descricao{
    padding-top: 5%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

.consultoria-lgpd{
    margin-top: 4%;
}

.consultoria-lgpd-texto{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.areas-atuacao-responsivo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.whatsapp {
position: fixed;
top: 78%;
left: 80%;
padding: 1%;
z-index: 10000000;
height: 48px;
border-radius: 100%;
}

@media screen and (min-width:1000px){
    .whatsapp {
        position: fixed;
        top: 78%;
        left: 90%;
        padding: 1%;
        z-index: 10000000;
        height: 72px;
        border-radius: 100%;
    }
    .areas-atuacao-div{
        padding-top: 2%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .areas-atuacao-itens{
        margin-top: 5%;
        width: 33%;
        color: var(--cor);
    }
}


/* Fim Areas Atuação */

/* Início Contato */
.contato{
    margin-top: 4%;
    margin-bottom: 2%;
}

.contato-texto{
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}
/* Fim  AContato */

/* Início Rodape */
.rodape{
    background-color: var(--cor);
}

.rodape-texto{
    display: flex;
    justify-content: center;
    color: white;
    padding: 1%;
    font-size: 0.8rem;
}

/* Fim Rodape */

.coluna1-texto{
    padding-top: 10%;
    text-align: center;
}
/* Início Menu */

.menu{
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    background-color: #15191C;
    gap: 5px;
    transition: .3s;
    position: absolute;
    left: -100vw;
}

.active{
    transition: .3s;
    left: 0;
}

/*Fim Menu */


.button{
    color: white;
    position: absolute;
    top: 4%;
    z-index: 1000000;
    display: flex;
    padding: .5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5;
}


.hamburguer{
    display: block;
    border-top: 2px solid ;
    width: 20px;
}

.hamburguer::after, .hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

.menu.active .hamburguer{
    border-top-color:transparent ;
    transition: 2s;
}

.menu.active .hamburguer::before{
    transform: rotate(135deg) ;
}

.menu.active .hamburguer::after{
    transform: rotate(-135deg) ;
    top: -7px;
}

